/*$colorPrimary2 : #6c193e;
$colorPrimary1 : #a9da88;
$colorSecondary1 : #f0ffc9;
*/


/*
$colorPrimary2 : #900438;
$colorPrimary1 : #022B60;
$colorSecondary1 : #D5E3ED;
*/

/*
$colorPrimary2 : #A8DBA8;
$colorPrimary1 : #79BD9A;
$colorSecondary1 : #CFF09E;
*/
$colorPrimary2 : rgb(136, 185, 136);
$colorPrimary1 : rgb(88, 160, 123);
$colorSecondary1 : #CFF09E;